<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div class="input-field">
    <input type="text" name="title" data-test="input-todo-create">
    <label>Todo title</label>
  </div>

  <button type="submit" class="btn" data-test="create-button">Create</button>
</form>